<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D7.Automation.E2TGST.REG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <D7.Automation.E2TGST.REG.My.MySettings>
            <setting name="Sales_DateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="Sales_DateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Sales_EntriesMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sales_EntriesMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sales_Days" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Sales_RateDifference" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Sales_Decimal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Sales_ContiniousInvoice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sales_BeginningInvoice" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sales_InvoiceNumberFormat" serializeAs="String">
                <value>{0:0000}</value>
            </setting>
        </D7.Automation.E2TGST.REG.My.MySettings>
    </userSettings>
</configuration>